body {
    background-color: white;
}

.hero {
    background-color: #101010;
}

.has-bg-img {
    background-image: url(./images/banner.png);
    background-position: center center;
    background-repeat: no-repeat;
}

img {
    border: 1px solid black;
    border-radius: 20%;
}

a:hover {
    text-decoration: none;
    color: black !important;
}

.carousel-item img {
    border: none;
}

.navbar-item {
    color: white;
}

.row-index-1 {
    display: flex;
}

.row-index-2 {
    display: flex;
}

#index-title {
    color: white;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
}

#teams-title {
    color: white;
    text-transform: uppercase;
}

#stats-title {
    color: white;
    text-transform: uppercase;
}

.col-sm-2 {
    height: 100%;
    width: 100%;
    align-items: center;
}

.team-images {
    height: 100px;
    width: 100px;
}

#teams {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-basis: fit-content;
    align-items: stretch;
}

#team-page-dispname {
    font-size: 2em;
}

#team-display-logo {
    height: 60px;
    width: 60px;
}

#display-name-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightgray;
    font-size: 1em;
}

#next-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stats-bold-title {
    font-weight: bold;
}

#index-heading {
    margin-bottom: 1rem;
}

#teams-heading {
    margin-bottom: 1rem;
}

#stats-heading {
    margin-bottom: 1rem;
}

#index-footer {
    background-color: #ebecf0;
}

#teams-footer-content {
    background-color: #F8F4FF;
}

#stats-footer {
    background-color: #101010;
}

#footer2 {
    margin: 1px;
    color: white;
}

.footer-p {
    color: white;
}

@media only screen and (max-width: 767px) {
    #index-title {
        color: white;
        font-size: 2em;
        font-weight: bold;
        text-transform: uppercase;
    }
    .navbar-menu {
        background-color: green;
        opacity: 0.8;
    }
}

@media only screen and (max-width: 1023px) {
    #index-title,
    #teams-title,
    #stats-title {
        color: white;
        font-size: 2em;
        font-weight: bold;
        text-transform: uppercase;
    }
    .navbar-menu {
        background-color: green;
    }
}

@media only screen and (max-width: 600px) {
    #index-title,
    #teams-title,
    #stats-title {
        color: white;
        font-size: 1em;
        font-weight: bold;
    }
    .col {
        width: 100%;
    }
    .row-index-1 {
        display: inline-block;
    }
    .row-index-2 {
        display: inline-block;
    }
    img {
        border: 1px solid black;
    }
    .carousel-item img {
        border: none;
    }
    .team-images {
        float: right;
    }
}