body {
    background-color: #ebecf0;
}

footer {
    background-color: #ebecf0;
}

figure {
    width: 90%;
    margin: 0.5rem auto;
}

.has-bg-img {
    background-image: url(./images/banner.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.navbar-item {
    opacity: 90%;
}

.is-child {
    background-color: #02075D;
}

#index-title {
    color: #02075D;
}

#teams-title {
    color: #02075D;
}

#stats-title {
    color: #02075D;
}

#index-heading {
    margin-bottom: 1rem;
}

#teams-heading {
    margin-bottom: 1rem;
}

#stats-heading {
    margin-bottom: 1rem;
}

#index-footer {
    background-color: #ebecf0;
}

#index-footer-content {
    background-color: #F8F4FF;
}

#teams-footer {
    background-color: #ebecf0;
}

#teams-footer-content {
    background-color: #F8F4FF;
}

#stats-footer {
    background-color: #ebecf0;
}

#stats-footer-content {
    background-color: #F8F4FF;
}